<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Meshta</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Meshta memakai Bluetooth untuk membentuk jaringan mesh dengan HP sekitar dan NusaNode.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Meshta memakai Bluetooth agar HP lain dapat menyambung dan meneruskan pesan lewat HP ini.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Meshta memakai mikrofon untuk merekam voice note.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Meshta memakai lokasi untuk membagikan posisi pengguna kepada tim penyelamat melalui jaringan mesh.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
